@font-face {
    font-family: 'Varela Round';
    src: url('/static/fonts/VarelaRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;

    /* firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #333 #1a1a1a;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 8px;
    border: 2px solid #1a1a1a;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}


body {
    background-color: #121212;
    color: #E5E5E5;
}